@keyframes title {
	0% {
		opacity: 0;
		transform: translateX(-10%);
		letter-spacing: -0.1em;
	}
	50% {
		opacity: 0;
		transform: translateX(-10%);
		letter-spacing: -0.1em;
	}
	63% {
		opacity: 1;
	}
	66% {
		text-shadow: 0 0 0 white;
	}
	100% {
		transform: translateX(0%);
		text-shadow: 0.04em 0.04em 0 white;
		letter-spacing: 0;
	}

}

html {
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	color: white;
}

body {
	position: relative;
	display: grid;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;

	background-color: rgba(71, 42, 128, 1);
	background-image: url("/assets/images/pictures.svg");
	background-repeat: no-repeat;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(7, 1fr);
}

body::after {
	position: absolute;
	top: 0;
	right: -25%;
	width: 50%;
	height: 100%;
	content: '';
	transform: skewX(-25deg);
	background: rgba(230, 87, 113, 1);
}

h1 {
	font-size: calc(100vw / 13);
	font-weight: 700;
	line-height: 1;
	margin: 0;
	letter-spacing: 0;
	color: rgba(230, 87, 113, 1);
	text-shadow: 0.04em 0.04em 0 white;
	grid-area: 4 / 2 / span 1 / span 5;

	/*animation: title 2s ease-in-out;*/
}

h2 {
	font-size: calc(100vw / 26);
	line-height: 1;
	align-self: end;
	margin: 0 0 0.3em 0;
	text-transform: uppercase;
	color: white;
	text-shadow: 0.06em 0.06em 0 rgba(230, 87, 113, 1);
	grid-area: 3 / 2 / span 1 / span 5;
}

h3 {
	font-size: calc(100vw / 52);
	line-height: 1;
	position: relative;
	align-self: end;
	margin: 0.6em 0 0 0;
	text-transform: uppercase;
	color: white;
	text-shadow: 0.06em 0.06em 0 rgba(230, 87, 113, 1);
	grid-area: 5 / 2 / span 1 / span 5;
}

h3::after {
	position: absolute;
	top: -25%;
	display: inline-block;
	width: 0.35em;
	height: 150%;
	margin-left: 0.6em;
	content: '';
	background-color: rgba(230, 87, 113, 1);
}

.socials {
	display: grid;
	align-self: end;
	margin: 0;
	padding: 0;
	list-style: none;
	grid-area: 6 / 2 / span 1 / span 5;
	grid-template-columns: repeat(4, 2.5em);
	grid-template-rows: 2.5em;
	gap: 1em;
}

.socials li {
	display: flex;
	flex-direction: row;
}

.socials a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.socials img {
	width: 2em;
}
